<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/dashboard/">

    <title>学生管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link
        href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/assets/css/ie10-viewport-bug-workaround.css"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/examples/dashboard/dashboard.css"
        rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script
        src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        function refresh() {
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    procQueryResponse(this.responseText);
                }
            };

            xhttp.open("GET", "/students", true);
            xhttp.setRequestHeader('Accept', 'application/json');
            xhttp.send();
        }

        function procQueryResponse(responseText) {
            const obj = JSON.parse(responseText);
            if (obj.success) {
                const tblBody = document.getElementById('students');
                tblBody.innerHTML = '';
                for (let Student of obj.data) {
                    const tr = document.createElement('tr');
                    const td = document.createElement('td');
                    td.innerText = Student.id;
                    const td2 = document.createElement('td');
                    td2.innerText = Student.stuName;
                    const td3 = document.createElement('td');
                    td3.innerText = Student.password;
                    const td4 = document.createElement('td');
                    td4.innerText = Student.sex;
                    const td5 = document.createElement('td');
                    td5.innerText = Student.cla;
                    const td6 = document.createElement('td');
                    td6.innerText = Student.userimg;
                    const td7 = document.createElement('td');
                    const iptDel = document.createElement('input');
                    iptDel.type = 'button';
                    iptDel.value = '删除';
                    iptDel.addEventListener('click', function () {
                        onDelete(Student);
                        return false;
                    })
                    td7.appendChild(iptDel);
                    tr.appendChild(td);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tr.appendChild(td4);
                    tr.appendChild(td5);
                    tr.appendChild(td6);
                    tr.appendChild(td7);
                    tblBody.appendChild(tr);
                }

            }
        }

        function onDelete(Student) {
            console.log('删除中...');
            console.log(Student);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    const obj = JSON.parse(this.responseText);
                    console.log(obj);
                    if (obj.success) {
                        alert('删除成功!');
                        refresh();
                    } else {
                        alert('删除失败!');
                    }

                }
            }
            xhttp.open("POST", "/student/delete?id=" + Student.id1, true);
            xhttp.setRequestHeader('Accept', 'application/json');
            xhttp.send();

        }



        function getById() {
            const iptID = document.getElementById('iptID');
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    procQueryResponse(this.responseText);
                }
            };

            xhttp.open("GET", "/student?id=" + iptID.value, true);
            xhttp.setRequestHeader('Accept', 'application/json');
            xhttp.send();

        }
        var xhttp = new XMLHttpRequest();
        window.onload = function () {
            refresh();
        }
    </script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">学生管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">注销</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="student.html">学生信息<span class="sr-only">(current)</span></a></li>
                    <li><a href="stu_update.html">学生信息修改</a></li>
                    <li><a href="stu_add.html">学生信息添加</a></li>
                    <li><a href="download.html">学生信息下载</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="scourse.html">学生课程表</a></li>
                    <li><a href="course_update.html">课程修改</a></li>
                    <li><a href="course_add.html">课程添加</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="score.html">学生成绩表</a></li>
                    <li><a href="score_add.html">成绩修改</a></li>
                    <li><a href="score_update.html">成绩添加</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h4 class="page-header">搜索</h4>
                <form role="form">
                    <div class="form-group">
                        <label for="iptID"><input type="text" class="form-control" id="iptID" name="id" placeholder="输入ID"/>
                           <!-- <label for="iptName">姓名</label><input type="text" class="form-control" name="stuName"
                                id="iptName" />
                            <label for="iptSex">性别<input type="text" class="form-control" id="iptSex" name="sex" />
                                <label for="iptPassword">密码<input type="text" class="form-control" id="iptPassword"
                                        name="password" />
                                    <label for="iptCla">班级<input type="text" class="form-control" id="iptCla"
                                            name="cla" />-->
                    </div>
                    <div class="input-but">
                       <!-- <input type="button" value="添加" class="btn btn-default" onclick="add()">-->
                        <input type="button" value="查询" class="btn btn-default" onclick="getById()">
                        <input type="button" value="刷新" class="btn btn-default" onclick="refresh()">
                <!--        <input type="button" value="确认修改" class="btn btn-default" onclick="onUpdate()">-->
                    </div>
                </form>

                <h2 class="sub-header">学生信息</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>密码</th>
                                <th>班级</th>
                                <th>图片地址</th>
                            </tr>
                        </thead>
                        <tbody id="students">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script
        src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script
        src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.37/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>